body {
	background-color: white !important;	
	font-size: 10px;
	width: 100%;
}

h1 {
	font-size: 2em !important;
	display: inline-block;
}

h2 {
	font-size: 1.2em !important;
	font-weight: bold !important;
	margin-top: 10px !important; 
}

h3, h4 {
	font-size: 1.2em !important;
}

#head {
	height: auto;
	margin: 0px 20px;
	line-height: 1.1em; 
}

#head h2 {
	font-size: 1.1em !important;
	font-weight: normal  !important;
	display: inline-block;
}

#main-panel {
	min-width: 770px;
}

#second-panel {
	width: 770px;
	height: auto;
	float: right;
	margin-right: 20px;
}

#main-panel {
	float: left;
	margin-right: 10px;
	margin-left: 20px;
}

@media screen and (max-width: 991px) {
	#second-panel {
		width: 100%;
		margin-right: 0px;
	}
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
	body {
		overflow: auto;
	}

	#head,
	#head h2 {
		margin-left: 5px;
	}

	#main-panel,
	#second-panel {
		width: 100% !important;
		height: auto;
		margin-right: 5px;
		margin-left: 5px;
		margin-top: 5px;
		margin-bottom: 5px;
	}

	#main-panel svg {
		width: 100% !important;
	}

	#second-panel {
		float: none;
	}

	#main-panel {
		float: none;
	}

	#numbers-panel,
	#detail-panel,
	#detail-panel2,
	#detail-panel3 {
		width: 100% !important;
	}

	#modi-panel {
		position: absolute;
		top: -800px;
		right: 20px;
		width: 280px !important;
	}

	#modi-panel .left-section, 
	#modi-panel .right-section {
		width: 100% !important;
	}

	#modi-panel .left-section {
		float: none !important;
	} 

	#modi-panel .right-section {
		float: none !important;
	}

	#legende {
		margin-top: 10px !important;
	}
}

@media screen and (min-width: 1201px) and (max-width: 1523px) {
	#main-panel,
	#second-panel {
		width: 99%;
		height: auto;
		margin-right: 5px !important;
		margin-left: 5px;
		margin-top: 5px;
		margin-bottom: 5px;
	}

	#modi-panel,
	#numbers-panel,
	#detail-panel,
	#detail-panel2,
	#detail-panel3,
	#myTabs {
		min-width: 100%;
		clear: both;
	}

	#numbers-panel label {
		font-size: .85em;
		line-height: 2em;
	}

	#numbers-panel,
	#detail-panel3 {
		height: 200px;
	}
}

#modi-panel {
	width: 100%;
	min-height: 200px;
	border: solid #ccc 1px;
	padding: 5px;
	margin-bottom: 10px;
	background-color: #fff;
}

#numbers-panel,
#detail-panel,
#detail-panel2,
#detail-panel3 {
	clear: both;
	width: 100%;
	min-height: 200px;
	border-left: solid #ccc 1px;
	border-right: solid #ccc 1px;
	border-bottom: solid #ccc 1px;
	padding: 5px;
	margin-bottom: 10px;
	background-color: #fff;
}

#detail-panel,
#detail-panel2,
#detail-panel3 {
	height: 320px;
	overflow: auto !important;
	background-color: #eee;
}

.reset {
	float: right;
}

#myTabs {
	background-color: #fff;	
}

.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus {
	color: #e3311e !important;
	background-color: #ddd !important;
}

.nav-tabs.nav-justified > li > a {
	border-bottom: solid #ccc 1px !important;
}

.left-section, 
.right-section {
	width: 50%;
}

.left-section {
	float: left;
} 

.right-section {
	float: right;
}

#numbers-panel label {
	font-weight: normal;
}

#numbers-panel .form-group {
	width: 100%;
}

#numbers-panel div input {
	height: 1.5em;
	float: right !important;
	margin-right: 40px !important; 
}

#legende {
    width: 100%;
    height: 30px;
	margin-top: 170px;
	margin-bottom: 15px;
	background-color: #fff;
}

#linearLegend .colorlegend-labels {
	font-size: 8px;
	fill: #888;
}

div.bar {
	display: inline-block;
	width: 20px;
	height: 75px;
	background-color: teal;
	margin-right: 5px;
}

.note {
	display: block;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text,
text {
    font-family: sans-serif;
    font-size: 9px;
}

.grid .tick:not(:first-child) {
    stroke: #ccc;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}

#Viertel_Flaeche {
	cursor: pointer;
}

#detail-panel rect:hover,
#detail-panel2 .part rect:hover,
#detail-panel2 .bar rect:hover,
#detail-panel2 .phh rect:hover,
#detail-panel3 .part rect:hover {
	fill: rgb(129,15,124) !important;
}